{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My Account" %}{% endblock %}

{% block content %}
<main>
    <div class="container">

        <!--Section: Products v.3-->
        <section class="mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">
                <div class="col-12">
                    <h3>{% trans "My Account" %}</h3>
                    <div>
                    <strong><p>Username:</p></strong><p class="ml-2 mt-4">{{user.username}}</p>
                    
                    <strong><p>Email:</p></strong><p class="ml-2 mt-4">{{user.email}}</p>
                    </div>
                    <div> 
                    <button class= "btn btn-primary mt-4">Edit Profile</button>
                    <button class= "btn btn-primary ml-2 mt-4">Reset Password</button>
                    </div>
                    <h4 class="mt-4">{Order History</h4>
<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr><th>&nbsp;</th>
          <th scope="col">#</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Order ID</th>
            <th scope="col">Total Price</th>
            <th scope="col">Discount</th>
        </tr>
    </thead>

    <tbody>
    {% for object_item in object %}
        <tr data-toggle="collapse" data-target="#demo{{ forloop.counter }}" class="accordion-toggle">
            
             
             <td><a><i style='font-size:24px' class='fas'>&#xf13a;</i></a></td>
             <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ object_item.order_date }}</td>
                                <td>{{ object_item.ref_code }}</td>
                                <td>£{{ object_item.order_total}}</td>
                                {% if object_item.order_discount_amount %}
                                <td>£{{ object_item.order_discount_amount}}</td>
                                {% else %}
                                <td>£0.0</td>
                                {% endif %}
        </tr>
        <tr>
            <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo{{ forloop.counter }}"> 
              <table class="table table-striped">
                      <thead>
                        <tr><th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity Price</th>
                                    </tr>
                      </thead>
                      <tbody>
                            {% for order_item in object_item.items.all %}     
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ order_item.ordereditem_title }}</td>
                                <td>{{ order_item.ordered_size }}</td>
                                <td>{{ order_item.quantity}}</td>
                                <td>£{{ order_item.ordereditem_price }}</td>
                                <td>£{{ order_item.ordereditem_totalprice}}</td>
                        </tr>
                            {% endfor %}
                        
                     
                    
                      </tbody>
               	</table>
              
              </div> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
                           </div>
            </div>
        </section>
    </div>


</main>
{% endblock%}