{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My Account" %}{% endblock %}

{% block content %}
<style>
.fas {
  margin: 1em;
}

.fas::before {
  position: absolute;
  transform-origin: 0 50%;
  transition: transform .25s;
}

.fas.down::before {
  transform: rotate(90deg);
  transition: transform .25s;
}
</style>
<main>
    <div class="container">

        <!--Section: Products v.3-->
        <section class="mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">
                <div class="col-12">
                    <h1>{% trans "My Account" %}</h1>
                    <h2>Order History</h2>
<table class="table table-condensed" style="border-collapse:collapse;">

    <thead>
        <tr><th>&nbsp;</th>
          <th scope="col">#</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Order ID</th>
            <th scope="col">Total Price</th>
            {% if order.order_discount_amount %}
            <th scope="col">Discount</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for object_item in object %}
        <tr data-toggle="collapse" data-target="#demo{{ forloop.counter }}" class="accordion-toggle">
            
             
             <td><a><i style='font-size:24px' class='fas'>&#xf13a;</i></a></td>
             <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ object_item.order_date }}</td>
                                <td>{{ object_item.ref_code }}</td>
                                <td>£{{ object_item.order_total}}</td>
                                {% if order.order_discount_amount %}
                                <td>£{{ order.order_discount_amount}}</td>
                                {% endif %}

        </tr>
        <tr>
            <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo{{ forloop.counter }}"> 
              <table class="table table-striped">
                      <thead>
                        <tr><th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity Price</th>
                                    </tr>
                      </thead>
                      <tbody>
                            {% for order_item in object_item.items.all %}     
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ order_item.ordereditem_title }}</td>
                                <td>{{ order_item.ordered_size }}</td>
                                <td>{{ order_item.quantity}}</td>
                                <td>£{{ order_item.ordereditem_price }}</td>
                                <td>£{{ order_item.ordereditem_totalprice}}</td>
                        </tr>
                            {% endfor %}
                        
                     
                    
                      </tbody>
               	</table>
              
              </div> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
                           </div>
            </div>
        </section>
    </div>


<script>
var arr = document.querySelector('.fas');
arr.addEventListener('click', function(event) {
  event.target.classList.toggle('down');
});
</script>

</main>
{% endblock%}