{% extends 'base.html' %}
{% block content %}
{% load cloudinary %}
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{item.image.url}}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <h5>
              <a href="{{item.get_absolute_url}}">
                <span class="badge blue mr-1">{{object.get_category_display}}</span>
              </a>
            </h5>

            <h5 class="badge badge-pill {{object.label}}-color ml-1">{{object.get_label_display}}</h5>

          </div>

          <p class="lead">

            {% if object.discount_price %}
            <span class="mr-1">
              <del>£{{object.price}}</del>
            </span>
            <span>£{{object.discount_price}}</span>
            {% else %}
            <span>£{{object.price}}</span>
            {% endif %}
          </p>
          <div class="row">

            <form action="{{object.get_add_to_cart_url}}" method="post">
              {% csrf_token %}
              <select class="form-control border colorful-select dropdown-primary"
                style="width: auto !important; display: inline-block;" name="item_size" id="item_size" required>
                <option value="" disabled selected>Choose Size</option>
                {% for value, name in form.fields.item_size.choices %}

                {% if value in object.size %}
                <option value="{{value}}">{{name}}</option>
                {% else %}
                <option disabled="disabled">{{name}} - Sold Out</option>
                {% endif %}

                {% endfor %}
              </select>
              <strong><label class="ml-2" for="item_size">Size</label></strong>
              <button class="btn btn-primary" type="submit">Add to Cart</button>
            </form>


          </div>
          <!--Content-->
          <div>
            <p class="lead font-weight-bold mt-2">Description</p>

            <p style="text-align: justify;">{{object.description}}</p>

          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      {% comment %} <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div> {% endcomment %}
      <!--Grid row-->

    </div>
</main>
<!--Main layout-->
{% endblock %}