{% extends 'base.html' %}
{% block content %}
{% load cloudinary %}
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{item.image.url}}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="{{item.get_absolute_url}}">
              <span class="badge purple mr-1">{{object.get_category_display}}</span>
            </a>
          </div>

          <p class="lead">

            {% if object.discount_price %}
            <span class="mr-1">
              <del>£{{object.item.price}}</del>
            </span>
            <span>£{{object.discount_price}}</span>
            {% else %}
            <span>£{{object.price}}</span>
            {% endif %}
          </p>
          <div class="row">

            <form action="{{object.get_add_to_cart_url}}" method="post">
              {% csrf_token %}
              <!-- {{form}} -->
              <!-- <div class="col-md-6 select-outline">
                <select class="form-control border colorful-select dropdown-primary"
                  style="width: auto !important; display: inline-block;" name="item_size" id="item_size">
                  <option value="" disabled selected>Choose Size</option>
                  {% if 'XS' in object.size %}
                  <option value="XS">XS(36)</option>
                  {% else %}
                  <option disabled="disabled">XS(36) - Sold Out</option>
                  {% endif %}
                  {% if 'S' in object.size %}
                  <option value="S">S(38)</option>
                  {% else %}
                  <option disabled="disabled">S(38) - Sold Out</option>
                  {% endif %}
                  {% if 'M' in object.size %}
                  <option value="M">M(40)</option>
                  {% else %}
                  <option disabled="disabled">M(40) - Sold Out</option>
                  {% endif %}
                  {% if 'L' in object.size %}
                  <option value="L">L(42)</option>
                  {% else %}
                  <option disabled="disabled">L(42) - Sold Out</option>
                  {% endif %}
                  {% if 'XL' in object.size %}
                  <option value="XL"> XL(44)</option>
                  {% else %}
                  <option disabled="disabled">XL(44) - Sold Out</option>
                  {% endif %}
                  {% if 'XXL' in object.size %}
                  <option value="XXL">XXL(46)</option>
                  {% else %}
                  <option disabled="disabled">XXL(46) - Sold Out</option>
                  {% endif %}
                  {% if 'XXXL' in object.size %}
                  <option value="XXXL">XXXL(48)</option>
                  {% else %}
                  <option disabled="disabled">XXXL(48) - Sold Out</option>
                  {% endif %}
                </select>
                <strong><label class="ml-2" for="item_size">Size</label></strong>
              </div> -->



              <!-- <p class="lead font-weight-bold mt-2">Description</p>

              <p>{{object.description}}</p> -->


              <!-- <a href="{{object.get_add_to_cart_url}}" class="btn btn-primary btn-md my-0 p" type="submit">Add
                to cart<i class="fas fa-shopping-cart ml-1"></i>
              </a> -->
              <!-- <input type="text" name="item_size" id="item_size"> -->

              <select class="form-control border colorful-select dropdown-primary"
                style="width: auto !important; display: inline-block;" name="item_size" id="item_size" required>
                <option value="" disabled selected>Choose Size</option>
                {% for value, name in form.fields.item_size.choices %}

                {% if value in object.size %}
                <option value="{{value}}">{{name}}</option>
                {% else %}
                <option disabled="disabled">{{name}} - Sold Out</option>
                {% endif %}

                {% endfor %}
              </select>
              <strong><label class="ml-2" for="item_size">Size</label></strong>
              <button class="btn btn-primary" type="submit">Add to Cart</button>
              <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger">
                Remove from cart
              </a>
            </form>


            <p class="lead font-weight-bold mt-2">Description</p>

            <p>{{object.description}}</p>

          </div>
        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    {% comment %} <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div> {% endcomment %}
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->
{% endblock %}